################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ecommerce.AuthService/Ecommerce.AuthService.API/bin/Debug/net10.0
/Ecommerce.AuthService/Ecommerce.AuthService.API/obj
/Ecommerce.AuthService/Ecommerce.AuthService.API/Ecommerce.AuthService.API.csproj.user
/Ecommerce.AuthService/Ecommerce.AuthService.Application/bin/Debug/net10.0
/Ecommerce.AuthService/Ecommerce.AuthService.Application/obj
/Ecommerce.AuthService/Ecommerce.AuthService.Domain/bin/Debug/net10.0
/Ecommerce.AuthService/Ecommerce.AuthService.Application/Ecommerce.AuthService.Application.csproj
/Ecommerce.AuthService/Ecommerce.AuthService.Domain/obj/Debug/net10.0
/Ecommerce.AuthService/Ecommerce.AuthService.Domain/obj
/Ecommerce.AuthService/Ecommerce.AuthService.Infrastructure/bin/Debug/net10.0
/Ecommerce.AuthService/Ecommerce.AuthService.Infrastructure/obj
/Ecommerce.AuthService/Ecommerce.AuthService.Infrastructure/Ecommerce.AuthService.Infrastructure.csproj
/Ecommerce.AuthService/.vs
